<div class="row">
    <div class="col-md-5">
        <button id="prev" class="btn btn-lg btn-info" disabled><span class="glyphicon glyphicon-step-backward disabled"></span></button>
        <button id="play" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-play"></span></button>
        <button id="stop" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
        <button id="next" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-step-forward"></span></button>
    </div>
    <div class="col-md-7" id="name">
    </div>
</div>
<div class="row" id="range-outer">
    <div class="col-md-1">80</div>
    <div class="col-md-10" id="range"></div>
    <div class="col-md-1">180</div>
</div>


