<form id="setup" role="form">
    <div class="form-group">
        <label for="client_id">Client ID</label>
        <input class="form-control" type="text" id="client_id" value="<%= client_id %>">
    </div>

    <div class="form-group">
        <label for="client_secret">Client Secret</label>
        <input class="form-control" type="text" id="client_secret" value="<%= client_secret %>">
    </div>

    <div class="form-group">
        <label for="redirect_uri">Redirect URI</label>
        <input class="form-control" type="text" id="redirect_uri" value="<%= redirect_uri %>">
    </div>

    <div>
        <button type="submit" class="btn btn btn-primary">Save</button>
        <button type="button" id="authorize" class="btn btn btn-info">Authorize</button>
        <button type="button" id="test" class="btn btn-warning pull-right">Test</button>
    </div>
</form>
